@import "src/styles/colors";
@import "src/styles/fonts";

.container {
  max-width: 1224px;
  margin: 200px auto 0 auto;
  position: relative;
  display: flex;
  align-items: center;

  &__inner {
    padding: 0 38px 100px 38px;

    &_iconLeft {
      width: 12px;
      height: 24px;
      margin-bottom: 12rem;
      stroke-opacity: 0.28;
      stroke: rgba($white, 0.28);
      cursor: pointer;
    }

    &__image {
      margin-left: 141px;
      width: 589px;

      &_brases {
        position: absolute;
        top: 7rem;
      }
    }

    &_iconRight {
      width: 12px;
      height: 24px;
      margin: 0 0 12rem auto;
      stroke: $orange;
      cursor: pointer;
      transform: rotate(-180deg);
    }
  }

  &__text {
    &_description {
      max-width: 393px;
      font: 400 14px/30px $secondaryFont;
      color: rgba($white, 0.78);
      position: absolute;
      left: 40rem;
      top: 10rem;
    }
  }

  &__footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 42.2%;
    top: 36rem;

    &_icon {
      width: 44px;
      height: 6px;
      margin-left: 18px;
      cursor: pointer;
      fill: $backgroundColorInput;

      &_middle {
        width: 44px;
        height: 6px;
        cursor: pointer;
        margin-left: 18px;
        fill: $orange;
      }
    }
  }
}
